In [2]:
import pandas as pd
import sklearn
import joblib
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer
from stop_words import get_stop_words
from sklearn.multiclass import OneVsRestClassifier

In [10]:
labelDf= pd.read_csv("labels.csv",sep=',',encoding='iso-8859-1')

In [11]:
labelDf

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [12]:
labelDf= labelDf.drop("Unnamed: 0",1)

In [14]:
clf = make_pipeline(
    TfidfVectorizer(stop_words=get_stop_words('en')),
    OneVsRestClassifier(SVC(kernel='linear', probability=True))
)

In [15]:
clf = clf.fit(X=labelDf['tweet'], y=labelDf['class'])

joblib.dump(clf,'model.pkl')

/home/rebecca/.local/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:383: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['aren', 'can', 'couldn', 'didn', 'doesn', 'don', 'hadn', 'hasn', 'haven', 'isn', 'let', 'll', 'mustn', 're', 'shan', 'shouldn', 've', 'wasn', 'weren', 'won', 'wouldn'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

['model.pkl']

In [18]:
gameDf= pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016.csv",sep=',',encoding='iso-8859-1')

In [19]:
gameDf= gameDf.dropna()
gameDf= gameDf.drop(['Year_of_Release','Genre', 'Publisher', 'NA_Sales', 'JP_Sales','EU_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Count', 'User_Count', 'Developer', 'Rating'],1)

In [20]:
gameDf

                                    Name Platform  Critic_Score User_Score
0                             Wii Sports      Wii          76.0          8
2                         Mario Kart Wii      Wii          82.0        8.3
3                      Wii Sports Resort      Wii          80.0          8
6                  New Super Mario Bros.       DS          89.0        8.5
7                               Wii Play      Wii          58.0        6.6
...                                  ...      ...           ...        ...
16667         E.T. The Extra-Terrestrial      GBA          46.0        2.4
16677     Mortal Kombat: Deadly Alliance      GBA          81.0        8.8
16696  Metal Gear Solid V: Ground Zeroes       PC          80.0        7.6
16700                             Breach       PC          61.0        5.8
16706            STORM: Frontline Nation       PC          60.0        7.2

[6825 rows x 4 columns]

In [21]:
gameDf.Platform = pd.Categorical(gameDf.Platform)
gameDf.Name = pd.Categorical(gameDf.Name)

In [22]:
gameDf.Platform = gameDf.Platform.cat.codes
gameDf.Name = gameDf.Name.cat.codes

In [23]:
from sklearn.model_selection import train_test_split

Y=gameDf['User_Score']
X=gameDf.drop('User_Score', axis=1)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0)

In [24]:
from sklearn.ensemble import RandomForestClassifier as rf

randomforest = rf(n_estimators=10, max_features=3, max_depth=10)
randomforest.fit(X_train, Y_train)

RandomForestClassifier(max_depth=10, max_features=3, n_estimators=10)

In [26]:
from sklearn.metrics import accuracy_score

Y_pred = randomforest.predict(X_test)
prob = randomforest.predict(X_test)

print(accuracy_score(Y_test, Y_pred)*100 , '%')

4.2765084944346805 %